@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-100: #f0ec50;

  --color-dark-200: rgba(0, 0, 0, 0.92);
  --color-dark-500: #25282a;

  --color-light-200: #f7f7f7;
  --color-light-500: #f0f0f0;

  --shadow-Light_inner-200: rgba(50, 50, 93, 0.25) 0px -30px 60px -12px inset,
    rgba(0, 0, 0, 0.2) 0px -18px 36px -18px inset;
  --shadow-Dark_inner-200: inset 0px -20px 30px -10px rgba(255, 255, 255, 0.08);

  --font-inter: "Inter", sans-serif;
}

@utility bg-light_100_dark_100 {
  @apply bg-white dark:bg-black;
}

@utility bg-light_200_dark_200 {
  @apply bg-light-200 dark:bg-dark-200;
}

@utility bg-light_500_dark_500 {
  @apply bg-light-500 dark:bg-dark-500;
}

@utility text-light_100_dark_100 {
  @apply text-black dark:text-white;
}
@utility shadow-inner-Light_200_dark_200 {
  @apply shadow-Light_inner-200 dark:shadow-Dark_inner-200;
}
@utility text-shadow-Light_Dark {
  @apply text-shadow-[0_2px_2px] text-shadow-black/40 dark:text-shadow-white/30;
}
@utility shadow-outer_light_dark100 {
  @apply shadow-[0_0_10px] shadow-black/70;
}
@layer utilities {
  .shadowl {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .shadowd {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6),
      /* depth */ 0 8px 20px rgba(0, 0, 0, 0.4),
      /* spread */ 0 0 0 1px rgba(255, 255, 255, 0.06); /* light edge */
  }
}

@layer base {
  * {
    @apply font-inter transition ease-linear;
  }
  html,
  body {
    scrollbar-width: none;
  }
  body {
    @apply bg-light_200_dark_200 text-light_100_dark_100;
  }
}

@layer components {
  .header_prop {
    @apply sm:px-16 px-8 pt-28 pb-10 rounded-b-2xl bg-light_500_dark_500 shadow-inner-Light_200_dark_200;
  }
  .navbar-prop {
    @apply rounded-full bg-white/50 dark:bg-black/60 backdrop-blur-sm shadow-outer_light_dark100;
  }
  .skill-bar {
    @apply flex items-center gap-4 mb-4 bg-light_200_dark_200 p-4 rounded-2xl shadow-outer_light_dark100;
  }
  .stack-badge {
    @apply px-4 py-2 bg-[#d0cb8fc7] text-[12px] font-light font-mono bg-white/10 rounded-xl shadow-[0_0_10px] shadow-black/20 dark:shadow-white/10;
  }
  .menu-buttons {
    @apply p-4 mb-2 rounded-full bg-black/60 dark:bg-white/80 text-white dark:text-black border shadow-[0_0_10px] shadow-black/50 dark:shadow-primary-100/60 sm:hover:opacity-70 active:opacity-40;
  }
  .input-prop {
    @apply border border-black/20 dark:border-white/40 rounded-2xl active:outline-1;
  }
  .social-badge {
    @apply flex gap-1 items-center dark:border-white/60 border-black/20 px-2 py-1 rounded-xl border text-[12px] font-light;
  }
  .trans-pannel-min-shadow {
    @apply rounded-2xl bg-gray-500/10 dark:bg-white/10 border border-black/40 dark:border-white/40 shadow-[0_0_4px] dark:shadow-white/40 shadow-black/40;
  }
}
